* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    font-family: Inter;
    color: #201e1e;
}

/* Header */
.header {
    height: 100px;
    box-shadow: 0 0 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.logo {
    font-family: Akaya Telivigala;
    font-size: 30px;
    color: #86BA09;
}
.navbar-main-right{
    width: 20%;
    margin-left: 490px;
}
.navbar-main-right-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-black{
    color: #201e1e;
}
/* Container */
.bg-color{
    background-color: #F2F7FF;
}
.bg-green{
    background-color: #C8DD8F;
}
.bg-white{
    background-color: #fff;
}
.box{
    width: 150px;
}
.customer, .sale{
   margin-left: 10px;
    width: 240px;
    height: 150px;
    background-color: #fff;
}
.text-size1{
    font-size: 26px;
}
.text-size{
    font-size: 20px;
}
.down{
    margin-left: 160px;
}
.elip{
    width: 125px;
    height: 45px;
    border-radius: 40%;
    background-color: #F2F7FF;
}
.bar-chart{
    margin-top: 86px;
    width: 630px;
    height: 330px;
    background-color: #fff;
}
.box-user{
    width: 600px;
    height: 200px;
    background-color: #fff;
}
.infor-user{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: 20px;
    border-bottom: 1px solid black;
}
.first{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-left: 20px; */
    
}
.review{
    width: 250px;
    height: 200px;
    background-color: #fff;
}
.opa{
    opacity: 60%;
}
.boder-bt{
    border-bottom: 1px solid black;
}

tr, td{
    width: 500px;
}