
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.wrapper{
    font-family: Inter;
    color: #201e1e;
}
.text-black{
    color: #201e1e;
}
.text-white{
    color: #fff;
}
.heading{
    height: 150px;
    background-image: url(/images/DangKy-DangNhap/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}

/* Main */
.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 50px;
    padding: 10px;
    align-items: center;
    margin-top: 70px;
    margin-left: 10%;
    row-gap: 10px;
}
.grid-item{
    font-size: 24px;
    font-weight: 500;
    font-family: inter;
}
.divide{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid rgb(158, 151, 151);
    box-shadow: 0 0 10px rgb(73, 72, 72, 0.4);
}
.img-fruit{
    width: 130px;
    height: 130px;
}
.butless, .butmore{
    width: 30px;
    height: 30px;
    font-size: 24px;
}
.butt{
    width: 50px;
    height: 30px;
    font-size: 24px;
}
.below{
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
margin-top: 20px;
}
.right{
    width: 550px;
    height: 400px;
    background-color: #F3F7FF;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}
.left{
    width: 500px;
    height: 400px;
    background-color: #F3F7FF;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}
.infor{
    padding-top: 30px;
    padding-bottom: 50px
}
.input{
    width: 400px;
    height: 40px;
    margin-bottom: 50px;
    font-size: 22px;
    margin-left: 10%;
}

.send{
    border: none;
    border-radius: 10px;
    background-color: #86BA09;
    height: 50px;
    width: 180px;
    font-family: inter;
    font-size: 24px;
    margin-left: 180px;
    margin-bottom: 8px;
}
.textsize{
    font-size: 27px;
    margin-left: 5px;
    margin-bottom: 60px;
}
.sum{
    margin-left: 35%;
    margin-top: 30px;
    margin-bottom: 60px;
}
/* footer */
.footer {
    margin-top: 50px;
    height: 300px;
    background-image: url(/images/CuaHang/bg-footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.menu {
    margin-top: 40px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register {
    margin-top: 40px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.email-footer{
    border: none;
    border-radius: 10px 0 0 10px;
    background-color: #eee;
    height: 40px;
    width: 300px;
    padding-left: 20px;
}

.btnSub{
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #86BA09;
    height: 40px;
    width: 100px;
}

.icon-footer{
    display: flex;
    justify-content: space-between;
    width: 20%;
}
.logo {
    font-family: Akaya Telivigala;
    font-size: 30px;
    color: #86BA09;
}
table td:first-child {
    width: 30px;
}

table tr {
    height: 40px;
}