
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.wrapper{
    font-family: Inter;
    color: #201e1e;
}
.text-black{
    color: #201e1e;
}
.text-white{
    color: #fff;
}

/* heading */
.heading{
    height: 150px;
    background-image: url(/images/DangKy-DangNhap/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
}

/* Main */

.main{
    margin: 70px auto;
    width: 85%;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 50px;
    padding: 10px;
    align-items: center;
    margin-top: 70px;
    margin-left: 10%;
    row-gap: 10px;
}
.grid-item{
    font-size: 24px;
    font-weight: 500;
    font-family: inter;
}
.divide{
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    border-bottom: 2px solid rgb(158, 151, 151);
    box-shadow: 0 0 10px rgb(73, 72, 72, 0.4);
}
.img-fruit{
    width: 130px;
    height: 130px;
}
.butless, .butmore{
    width: 30px;
    height: 30px;
    font-size: 24px;
}
.butt{
    width: 50px;
    height: 30px;
    font-size: 24px;
}

/* below */
.below{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    height: 400px;
}
.right{
    width: 40%;
    background-color: #F3F7FF;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
}
.left{
    width: 30%;
    background-color: #F3F7FF;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border-radius: 20px;
    padding: 30px;
}

.input{
    height: 40px;
    font-size: 22px;
}

.send{
    border: none;
    border-radius: 10px;
    background-color: #86BA09;
    height: 50px;
    width: 180px;
    font-family: inter;
    font-size: 24px;
    align-self: center;
}
.textsize{
    font-size: 27px;
}

/* footer */
.footer {
    /* margin: 50px 0; */
    padding: 50px 0;
    height: 100%;
    width: 100%;
    background-image: url(/images/CuaHang/bg-footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.menu {
    margin-top: 40px;
    height: 150px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register {
    margin-top: 40px;
    height: 170px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.email-container{
    position: relative;
}

.email-footer {
    border: none;
    border-radius: 10px;
    background-color: #eee;
    height: 40px;
    width: 300px;
    padding-left: 20px;
}

.btnSub {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #86BA09;
    height: 40px;
    width: 100px;
    position: absolute;
    right: 0;
}

.icon-footer {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.logo {
    font-family: Akaya Telivigala;
    font-size: 30px;
    color: #86BA09;
}

table td:first-child {
    width: 30px;
}

table tr {
    height: 40px;
}

@media screen and (max-width: 1280px) {

    .footer-container{
        flex-direction: column;
    }

    .logo-container, .register{
        width: 100%;
    }
    .grid-container{
        display: grid;
        grid-template-columns: 150px 100px 120px 150px 120px 10px;
        padding: 10px;
        align-items: center;
        margin-top: 70px;
        margin-left: 2%;
        row-gap: 10px;
    }
    .grid-item{
        font-size: 12px;
        font-weight: 500;
        font-family: inter;
    }
    .butt, .butless, .butmore{
        font-size: 12px;
    }
}