*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.wrapper{
    width: 100%;
    height: 800px;
    background-color: #E6E8C9;
}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.bg-img{
    margin-top: 100px;
   
}
.iconclose{
    position: absolute;
    right: 180px;
    top: 130px;
    
}
.cam{
    background-image: url(/images/Detail/cam.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 193px;
    left: 240px;
    width: 370px;
    height: 450px;
}
.camcara{
    position: absolute;
    top: 190px;
    left: 750px;
    font-family: Meow Script;
    font-size: 66px;
    font-weight: 500;
}
.text{
    position: absolute;
    font-family: Lora;
    font-size: 28px;
    top: 290px;
    left: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 320px;
}
.quantity{
    display: flex;
    justify-content: space-between;
}
.but1{
    width: 30px;
    height: 40px;
}
.but2{
    width: 100px;
    height: 40px;
}
.btnSub{
    border: none;
    border-radius: 10px;
    background-color: #418041;
    height: 60px;
    width: 300px;
    color: white;
    position: relative;
    text-align:center;
    font-family: lora;
    
}
.shopping{
    color: white;
    position: absolute;
    top: 275px;
    left: 7px;
}

@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
    .bg-img{
        width: 90%;
    }
    .cam{
        background-image: url(/images/Detail/cam.jpg);
        background-position: center;
        position: absolute;
        top: 165px;
        left: 100px;
        width: 250px;
        height: 290px;
    }
    .iconclose{
        right: 50px;
        top: 110px;
    }
    .camcara{
        top: 170px;
        left: 400px;
        font-size: 43px;
        font-weight: 500;
    }
    .text{
  
        font-size: 20px;
        top: 230px;
        left: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;
    }
    .quantity{
        font-size: 20px;
    }
    .but1, .but2{
        font-size: 20px;
    }
    .but1{
        width: 30px;
        height: 30px;
    }
    .but2{
        width: 60px;
        height: 30px;
    }
    .btnSub{
        height: 50px;
        width: 210px;
        
    }
    .shopping{
        top: 215px;
        left: 13px;
    }
    .wrapper{
        height: 600px;
    }
}

@media only screen and (max-width: 46.1875em) {
    .bg-img{
        width: 90%;
    }
    .cam{
        background-image: url(/images/Detail/cam.jpg);
        background-position: center;
        position: absolute;
        top: 100px;
        left: 40px;
        width: 150px;
        height: 200px;
    }
    .iconclose{
        right: 20px;
        top: 90px;
        width: 30px;
    }
    .camcara{
        top: 128px;
        left: 210px;
        font-size: 23px;
        font-weight: 500;
    }
    .text{
        font-size: 12px;
        top: 165px;
        left: 210px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 120px;
    }
    .quantity{
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        width: 140px;
    }
    .but1, .but2{
        font-size: 12px;
    }
    .but1{
        width: 15px;
        height: 17px;
    }
    .but2{
        width: 40px;
        height: 17px;
    }
    .btnSub{
        height: 23px;
        width: 120px;
        top: 5px;
        margin-left: 5px;
    }
    .shopping{
        top: 108px;
        left: 10px;
    }
    .wrapper{
        height: 380px;
    }
}