* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.home {
    font-family: Inter;
    color: #201e1e;
}

.text-black {
    color: black;
}

/* Header */
.header {
    height: 100px;
    width: 100%;
    box-shadow: 0 0 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.logo {
    font-family: Akaya Telivigala;
    color: #86BA09;
    /* width: 30%; */
}

.navbar-main-left {
    width: 30%;
    margin-top: 20px;
}

.navbar-main-left-text {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.navbar-main-right {
    display: flex;
    justify-content: space-between;
    width: 5%;

}

.btnLogIn{
    border-radius: 5px;
    padding: 5px;
}

/* Wrapper */
.banner-height{
    height: 650px;
}
.welcome {
    margin-top: 100px;
    width: 100%;
    height: 580px;
    background-image: url(/images/TrangChu/Welcome.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Time */
.time {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}

.img-lefttime {
    width: 100%;
    height: 100%;
}

.right-time {
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 310px;
    margin-left: -20px;
}

.open-img {
    width: 100%;
    height: 80px;
}

.close-img {
    width: 100%;
    height: 80px;
}

.open-time,
.close-time {
    display: flex;
    justify-content: space-around;
    width: 360px;
    align-items: center;
    margin-left: 20px;
}

.text1,
.text2 {
    margin-top: 28px;
}

.text-time {
    font-family: Inter;
    font-size: 22px;

}

.first-text {
    font-family: Inter;
    font-size: 26px;
}

.right-time {
    position: relative;
}

.right-time-position_item1 {
    width: 130px;
    height: 130px;
    position: absolute;
    z-index: -100;
    top: 320px;
    right: -20px;
}

.right-time-position_item2 {
    width: 380px;
    height: 260px;
    position: absolute;
    z-index: -100;
    top: 80px;
    left: -15px;
}

.right-time-position_item3 {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: -100;
    top: -155px;
    right: -10px;
}

/* Introduce */
.backgound-introduce {
    width: 92%;  
    height: 370px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/TrangChu/backgroundlogo.png);
    background-position: 80px;
    position: relative;
    margin-top: 110px;
}

.logo-img {
    width: 30%;
    position: absolute;
    right: 65px;
    top: 45px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

}

.flex-intro {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.text-introduce {
    position: absolute;
    color: white;
    width: 50%;
    font-family: inter;
    font-size: 24px;
    line-height: 35px;
    margin-left: 10%;
    text-align: justify;
    margin-top: 40px;
}

/* Best sellers */
.bestsellers {
    margin-top: 110px;

}

.powerofnature {
    font-family: meddon;
    color: #FA6C47;
    font-size: 32px;
    margin-left: 37%;
}

.bestsellersproducts {
    font-family: nunito;
    font-size: 36px;
    margin-left: 37%;
    margin-top: 7px;
}

.wesupport {
    font-family: nunito sans;
    color: #7A7A7A;
    width: 600px;
    text-align: center;
    font-size: 22px;
    margin-left: 30%;
    margin-top: 5px;
}

.luu {
    width: 150px;
    height: 200px;
    border-radius: 40%;
    margin-left: 26%;
}

.text-luu,
.text-cam,
.text-vietquat,
.text-dau {
    font-family: roboto slab;
    width: 400px;
    line-height: 30px;
    font-size: 18.5px;
    text-align: center;
    font-weight: bold;
    opacity: 80%;
}

.cam {
    width: 165px;
    height: 130px;
    margin-left: 40%;
}

.vietquat {
    width: 100px;
    height: 100px;
    margin-left: 45%;
}

.dau {
    width: 130px;
    height: 130px;
    margin-left: 27%;
}

.tohoaqua {
    margin-top: 220px;
    margin-left: -160px;
    width: 560px;
    height: 330px;

}

.below-bestsellers {
    display: flex;
    justify-content: center;
    margin-top: -60px;
    padding-left: 50px;
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 740px;
    margin-left: -20px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 800px;
    margin-top: 20px;
}

.text-dau {
    margin-left: -55px;
    margin-top: 10px;
}

.text-vietquat {
    margin-top: 13px;
}

.text-luu {
    margin-left: -50px;
}

.text-cam {
    margin-left: -20px;
}

/* footer */
.footer {
    /* margin: 50px 0; */
    padding: 50px 0;
    height: 100%;
    width: 100%;
    background-image: url(/images/CuaHang/bg-footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.menu {
    margin-top: 40px;
    height: 150px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register {
    margin-top: 40px;
    height: 170px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.email-container {
    position: relative;
}

.email-footer {
    border: none;
    border-radius: 10px;
    background-color: #eee;
    height: 40px;
    width: 300px;
    padding-left: 20px;
}

.btnSub {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #86BA09;
    height: 40px;
    width: 100px;
    position: absolute;
    right: 0;
}

.icon-footer {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.logo {
    font-family: Akaya Telivigala;
    font-size: 30px;
    color: #86BA09;
}

table td:first-child {
    width: 30px;
}

table tr {
    height: 40px;
}
.menu-btn{
    display: none;
}
.nav-overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    animation: fadeIn linear 0.2s ;
}
.navbar_ipad-list{
    margin-top: 24px;

}
.nav-ipad{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 100;
}
.nav_ipad-link{
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 20px;
    padding-left: 10px;
    line-height: 3;
}
.icon-close{
    font-size: 35px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.nav-input:checked ~ .nav-overlay{
    display: block;
}
.nav-input{
    display: none;
}
.nav-input:checked ~ .nav-ipad{
    transform: translateX(0%);
    opacity: 1;
}

/* RESPONSIVE */
/* Mobile: width < 740px  */
@media only screen and (max-width: 46.1875em) {
    .navbar-main-right {
        width: 10%;
    }
    .respon-navbar{
        display: block;
        margin-left: 20px;
        margin-top: -70px;
    }
    .menu-btn{
        font-size: 20px;
        display: block;
    
    }
    .logo{
        margin-left: 30px;
    }
    .navbar-main-left {
        display: none;
    }
    .banner-height{
        height: 300px;
    }
    .welcome{
        height: 300px;
    }
    .time{
        flex-direction: column;
    }
    .img-lefttime{
        width: 90%;
        height: 300px;
    }
    .right-time-position_item1, .right-time-position_item2, .right-time-position_item3{
        display: none;
    }
    .first-text{
        font-size: 24px;
    }
    .flex-intro{
        display: flex;
        flex-direction: column;
    }
    .text-introduce{
        font-size: 16px;
        line-height: 1.2;
        padding-left: 10%;
        width: 85%;
        padding-top: 120px;
    }
    .logo-img {
        width: 40%;
        position: absolute;
        right: 85px;
        top: 20px;
        border: 15px;
    }
    .powerofnature {
        font-size: 20px;
        margin-left: 10px;
        margin-left: 30%;
    }
    
    .bestsellersproducts {
        font-size: 24px;
        margin-left: 30%;
        margin-top: 7px;
    }
    .wesupport {  
        width: 400px;
        text-align: center;
        font-size: 20px;
        margin-left: 15%;
        margin-top: 5px;
    }
    .below-bestsellers {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .tohoaqua{
        display: none;
    }
    .footer-container{
        flex-direction: column;
    }

    .logo-container, .register{
        width: 100%;
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width:63.9375em) {
    .navbar-main-right {
        width: 10%;
    }
    .respon-navbar{
        display: block;
        margin-left: 20px;
        margin-top: -70px;
    }
    .menu-btn{
        font-size: 20px;
        display: block; 
    }
    .logo{
        margin-left: 300px;
    }
    .time {
        flex-direction: column;
    }
    .flex-intro {
        flex-direction: column;
    }
    .img-lefttime {
        width: 70%;
    }
    .open-time,
    .close-time {
        width: 70%;
    }
    .right-time-position_item1,
    .right-time-position_item3 {
        width: 70px;
        height: 70px;
    }
    .right-time-position_item3 {
        margin-top: 120px;
    }
    .navbar-main-left {
        display: none;
    }
    .text-introduce {
        width: 50%;
        margin-left: 15%;
        margin-top: -3px;
        font-size: 20px;
    }

    .logo-img {
        margin-right: -45px;
        margin-top: 50px;
    }

    .flex-intro {
        flex-wrap: nowrap;
    }
    .wesupport {
        margin-left: 10%;
    }

    .powerofnature,
    .bestsellersproducts {
        margin-left: 25%;
    }
    .luu{
        width: 70px;
        height: 100px;
        margin-top: 35px;
    
    }
    .text-luu{
        width: 200px;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 30px;
    }
    .vietquat{
        width: 70px;
        height: 90px;
        margin-left: 12px;
    }
    .text-vietquat{
        width: 240px;
        font-size: 11px;
    
    }
    .tohoaqua{
        width: 400px;
        height: 300px;
        margin-top: 260px;
    }
    .cam{
        width: 80px;
        height: 80px;
    
    }
    .text-cam{
        width: 250px;
        font-size: 12px;

    }
    .dau{
        width: 80px;
        height: 90px;
        margin-bottom: -200px;
    }
    .text-dau{
        width: 250px;
        font-size: 11px;
        margin-top: 160px;
    }
    .footer-container {
        flex-direction: column;
    }
    .logo-container,
    .register {
        width: 100%;
    }
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }