* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}

.shop {
    font-family: Inter;
    color: #201e1e;
}

.text-black {
    color: black;
}

/* Header */
/* .header {
    height: 100px;
    box-shadow: 0 0 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.logo {
    font-family: Akaya Telivigala;
    font-size: 30px;
    color: #86BA09;
}

.navbar-main-left{
    width: 30%;
}

.navbar-main-left-text {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.text-black{
    color: #201e1e;
}

.navbar-main-right {
    display: flex;
    justify-content: space-between;
    width: 5%;
} */

.header {
    height: 100px;
    width: 100%;
    box-shadow: 0 0 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

.logo {
    font-family: Akaya Telivigala;
    color: #86BA09;
}

.navbar-main-left {
    width: 30%;
    margin-top: 20px;
}

.navbar-main-left-text {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.navbar-main-right {
    display: flex;
    justify-content: space-between;
    width: 5%;

}

.btnLogIn{
    border-radius: 5px;
    padding: 5px;
}

/* main */

.main{
    margin: 0 auto 70px ;
}

/* main-img */
.main-img {
    height: 500px;
    width: 100%;
    background-image: url(/images/CuaHang/bg-CuaHang.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* new product */
.newProduct {
    width: 80%;
    margin: 100px auto;
}

.newProduct-top {
    border: 10px solid #e0e667;
    border-radius: 20px;
    width: 43%;
    height: 90px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/CuaHang/bg-footer.jpg);
    background-size: cover;
}

.newProduct-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}

.product {
    background-color: #d0c3c3;
    border-radius: 15px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
}

.add-cart{
    position: absolute;
    width: 100%;
    background-color: darkgray;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.product:hover .cart1{
    opacity: 1;
    top: 150px;
    padding: 10px;
    text-decoration: none;
}

/* .newProduct-container .product:hover{
    opacity: 0.7;
    animation-duration: 10ms;
    transform: scale(1.1);
} */

.newProduct-container img:hover{
    opacity: 0.7;
    animation-duration: 10ms;
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.bg-price {
    background-color: #d0c3c3;
    height: 110px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 15px 15px;
}

/* service */
.service {
    height: 150px;
    background-image: url(/images/CuaHang/bg-service.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.service-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 130px;
    font-size: 13px;
    text-align: center;
}

/* list-product */
.listProduct {
    width: 80%;
    margin: auto;
}

.brand {
    height: 100px;
    width: 100%;
    background-image: url(/images/CuaHang/bg-brand.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

/* footer */
.footer {
    /* margin: 50px 0; */
    padding: 50px 0;
    height: 100%;
    width: 100%;
    background-image: url(/images/CuaHang/bg-footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.logo-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.menu {
    margin-top: 40px;
    height: 150px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register {
    margin-top: 40px;
    /* height: 170px; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.email-container{
    position: relative;
}

.email-footer {
    border: none;
    border-radius: 10px;
    background-color: #eee;
    height: 40px;
    width: 300px;
    padding-left: 20px;
}

.btnSub {
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: #86BA09;
    height: 40px;
    width: 100px;
    position: absolute;
    right: 0;
}

.icon-footer {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.logo {
    font-family: Akaya Telivigala;
    font-size: 30px;
    color: #86BA09;
}

table td:first-child {
    width: 30px;
}

table tr {
    height: 40px;
}

@media screen and (max-width: 1280px) {
    .navbar-main-left {
        display: none;
    }
    .navbar-main-right {
        width: 10%;
    }
    .newProduct-top{
        font-size: small;
    }

    .service-item{
        width: 20%;
        font-size: 60%;
    }
    
    .service-img{
        height: 40%;
    }

    .brand-img{
        width: 10%;
    }

    .footer-container{
        flex-direction: column;
    }

    .logo-container, .register{
        width: 100%;
    }
}